body {
    margin: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Stylings */

.topNav{
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboardName {
    padding-bottom: 40px;
    padding-right: 100px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.allFollowers {
    color: hsl(228, 12%, 44%);
}

.darkModeToggle {
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.switchLabel {
    padding-right: 20px;
    color: hsl(228, 12%, 44%);
}

/* Content for social pages and follower count sections */

.switchLabel, 
.switch {
    font-size: larger;
    vertical-align: middle;
    display: inline-block;
}

.icon, 
.userName {
    padding: 6px;
    padding-bottom: 20px;
    vertical-align: middle;
    display: inline-block;
    color: hsl(228, 12%, 44%);
    font-weight: 530;
}

.socialTags {
    width: 340px;
    border-radius: 5px;
    background-color: hsl(227, 47%, 96%);
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.socialTags:hover {
    background-color: hsl(229, 22%, 90%);
}

.mediaProfiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.userHandle {
    display: flex;
    flex-direction: row;
}

.followerCount {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.totalFollows {
    font-size: 4em;
    font-weight: bold;
}

.followers {
    letter-spacing: 5px;
    color: hsl(228, 12%, 44%);
    padding-bottom: 10px;
}

.newFollows {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.followersUp {
    color: hsl(163, 72%, 41%);
    padding-left: 5px;
}

.followersDown {
    color: hsl(356, 69%, 56%);
    padding-left: 5px;
}

/* Border customization for each social medai page */
#facebookTag {
    border-top: solid 6px hsl(208, 92%, 53%);
}

#twitterTag {
    border-top: solid 6px hsl(203, 89%, 53%);
}

#instaTag {
    border-top: solid 6px;
    border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border-image-slice: 1;
    border-radius: 5px;
}

#youtubeTag {
    border-top: solid 6px hsl(348, 97%, 39%);
}

#overview {
    font-size: 1.5em;
    margin: 20px;
    color: hsl(228, 12%, 44%);
}

/* Content for like, retweets, etc and percent boxes */

#statCards {
    padding: 10px;
    /* margin: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.viewCards {
    width: 300px;
    background-color: hsl(227, 47%, 96%);
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.viewCards:hover {
    background-color: hsl(229, 22%, 90%);
}

.interactionStats {
    padding-top: 10px;
    font-size: 2em;
}

.statsLeft {
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 50px;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.statsRight {
    width: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 50px;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
}

.statName {
    font-size: 1em;
    font-weight: 520;
    padding-bottom: 5px;
    white-space: nowrap;
    color: hsl(228, 12%, 44%);
}

#netReactions {
    padding-top: 30px;
}

#upDown, 
.percent,
#followersToday {
    vertical-align: middle;
    display: inline-block;
}

#percentUp {
    color: hsl(163, 72%, 41%);
}

#percentDown {
    color: hsl(356, 69%, 56%);
}




.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgb(96, 177, 204), rgb(132, 247, 132));
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-image: linear-gradient(to right, rgb(96, 177, 204), rgb(132, 247, 132));
}

input:focus + .slider {
    background-image: linear-gradient(to right, rgb(96, 177, 204), rgb(132, 247, 132));
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
